/*mobile*/
@media screen and (max-width:600px) {
	.tag{
		position:relative;
		left:-15px;
		bottom:22vh;
	}
	.triangle{
		position:relative;
		left:-15px;
		bottom:22vh;
	}
	.card{
		margin-left:auto;
		margin-right:auto;
	}
}

/*ipad*/
@media screen and (min-width:600px) and (max-width:1000px){
	.card{
		margin-left:10px;
	}
	.tag{
		position:relative;
		left:-5px;
		top:-40%;
	}
	.triangle{
		position:relative;
		left:-5px;
		top:-40%;
	}
	.test{
		margin-right:20px;
	}
}

/*laptop*/
@media screen and (min-width:1000px){
	.card{
		margin-left:10px;
	}
	.tag{
		position:relative;
		left:-5px;
		bottom:40%;
	}
	.triangle{
		position:relative;
		left:-5px;
		bottom:40%;
	}
	.test{
		margin-right:20px;
	}
}

.titles{
	color: rgba(0,0,0,0.7);
}

.subtitles{
	color: rgba(0,0,0,0.5);
}

.container{
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical*/
}

.card{
	border:none !important;
	z-index:2;
	border-radius:3%;
	height:300px;
	width:300px;
	background-position:center center;
	background-size:cover;
	display:inline-block;
}

.card-img{
	width: 100%;
	height: 100%;
}

.cit{
	background-color:transparent;
	border-radius:3%;
	background-size:cover;
	background-position:center center;
	height:300px;
}

.card:hover{
	cursor:pointer;
}

.triangle{
	z-index:0;
	width:50px;
	height:50px;
	background-color:rgba(32,178,170,1);
	-webkit-clip-path:polygon(0% 100%, 100%  0%,100% 100%);
}

.tag{
	z-index:5;
	padding:5px;
	width:200px;
	background-color:rgba(0,206,209,0.8);
	color:white;
	text-align:center;
}

.row{
	margin-left:auto;
	margin-right:auto;
	justify-content:center;
}

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.modal-content{
	background: linear-gradient(rgba(255,255,255,0.9),rgba(255,255,255,0.9)), url("../img/bgRed.jpg") no-repeat center center;
}

.modal-body{
	animation:leftIn 2s;
}

@keyframes leftIn{
	0%{
		position:relative;
		left:-50px;
		opacity:0;
	}100%{
		position:relative;
		left:0px;
		opacity:1;
	}
}

/* egg animation */
.egg{
	width:30px;
	animation:shake 0.8s infinite;
	transition: 0.5s ease;
}

@keyframes shake{
	0%,25%{
		transform:rotate(-15deg);
	}50%{
		transform:rotate(15deg);
	}75%,100%{
		transform:rotate(-15deg);
	}
}

.egg:active{
	position:relative;
	top:-20px;
}

.eggdown,.eggup{
	width:30px;
	position:relative;
	top:-10px;
	transition:0.3s ease;
}

.hide{
	display:none;
}

/* 上下蛋殼之動畫 */
.upAnimate{
	transform:translateY(10px);
}

.downAnimate{
	animation:left 1s;
	top:-5px;
}

@keyframes left{
	0%,25%{
		transform:rotate(0deg);
	}100%{
		transform:rotate(-40deg);
	}
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}
